@import './../variables';
@import './../components/common';
@import url('https://fonts.cdnfonts.com/css/montserrat');

footer {
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 82px;
        margin-right: auto;
        margin-left: auto;
        border-top: 1px solid $light-gray;
    }

    .footer__right {
        display: flex;
        width: 380px;
    }

    .footer__left {
        font-family: Montserrat, sans-serif;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        @extend %color-medium-grey;

        span {
            @extend %color-soft-red;
        }
    }

    .btn-subscribe {
        font-family: Montserrat, sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        text-align: center;
        text-transform: uppercase;
        background-color: $green;
        @extend %color-white;
    }

    input {
        padding: 14px 13px;
        font-size: 15px;
        font-style: italic;
        font-weight: 300;
        line-height: 24px;
        color: #ccc;
        border: 1px solid $light-gray;
    }

    a {
        text-decoration: none;
    }
    .footer__left , .footer__right {
        padding-top: 9px;
    }
}

@media (max-width: 960px) {
    footer {
        .container {
            display: flex;
            flex-flow: column;
            margin: 10px 0;
        }
        .footer__right {
            order: 0;
            padding-top: 20px;
            margin: auto;
            width: 280px;
        }
        .footer__left {
            padding-top: 20px;
            order: 1;
        }
        .footer__email {
            width: 130px;
        }
    }
}